aiodns==3.0.0
aiohttp==3.7.4.post0
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.2.0
backports.entry-points-selectable==1.1.0
backtrader==1.9.76.123
beautifulsoup4==4.9.3
black==21.7b0
bs4==0.0.1
ccxt==1.55.22
certifi==2021.5.30
cffi==1.14.6
cfgv==3.3.0
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.1
croniter==1.0.15
cryptography==3.4.7
cycler==0.10.0
distlib==0.3.2
filelock==3.0.12
identify==2.2.13
idna==3.2
int-date==0.1.8
joblib==1.0.1
kiwisolver==1.3.1
lxml==4.6.3
matplotlib==3.4.3
multidict==5.1.0
multitasking==0.0.9
mypy-extensions==0.4.3
networkx==2.6.2
nltk==3.6.2
nodeenv==1.6.0
numpy==1.21.2
oauthlib==3.1.1
pandas==1.3.2
pandas-datareader==0.10.0
pathspec==0.9.0
Pillow==8.3.1
platformdirs==2.2.0
pre-commit==2.14.0
pycares==4.0.0
pycparser==2.20
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2021.1
PyYAML==5.4.1
regex==2021.8.3
requests==2.26.0
requests-oauthlib==1.3.0
scikit-learn==0.24.2
scipy==1.7.1
six==1.16.0
sklearn==0.0
soupsieve==2.2.1
stockstats==0.3.2
tapy==1.9.1
threadpoolctl==2.2.0
toml==0.10.2
tomli==1.2.1
tqdm==4.62.1
tweepy==3.10.0
typing-extensions==3.10.0.0
urllib3==1.26.6
virtualenv==20.7.2
yarl==1.6.3
yfinance==0.1.63
